<div class="section">
    <div class="container min-vh-75 d-flex justify-content-center align-items-center">
        <div>
            <div>
                <div><h2 class="title has-text-centered mt-4">Registro</h2></div>
            </div>
            <form class="d-flex flex-column justify-content-between" action="/api/sessions/register" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="first_name">Nombre:</label>
                    <input class="form-control" type="text" name="first_name" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="last_name">Apellido:</label>
                    <input class="form-control" type="text" name="last_name" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Email:</label>
                    <input class="form-control" type="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="age">Edad:</label>
                    <input class="form-control" type="number" name="age" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Contraseña:</label>
                    <input class="form-control" type="password" name="password" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="rol">Rol:</label>
                    <select class="form-control" name="rol">
                        <option value="usuario" selected>usuario</option>
                        <option value="admin">admin</option>
                    </select>
                </div>
                <button class="btn btn-primary" type="submit">Registrarse</button>
            </form>
            <div><a href="/login">Iniciar sesión</a></div>
        </div>
    </div>
</div>



