<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-success text-white text-center">
            <h2>¡Bienvenido a Ferreteria ON-LINE!</h2>
            
        </div>
        <div class="card-body">
            <h5 class="card-title">Tu Ferreteria de confianza en tu casa</h5>
            <p class="card-text">
                En <strong>Ferreteria ON-LINE</strong>, nos apasiona ofrecerte los mejores productos para tu hogar o tu negocio.
                Explora nuestros productos, desde herramientas convesionales hasta industriales. 
            </p>
            <p class="card-text">
                No olvides suscribirte a nuestro boletín para recibir las últimas noticias y promociones.
            </p>
            <p class="styled-box">
                Puedes recorrer nuestras secciones con la barra de navegación en la parte superior de la página!
            </p>
        </div>
    </div>
</div>